.usercontainer{
    height:fit-content;
    width: 100%;
}
.second{
    height: 100px;
    width: 100%;
    padding: 0% 30% ;
}
.first{
    height: 100%;
    width: 100px;
    background-color: rgb(22, 3, 21);
    border-radius: 50%;
    margin: 10% 0%;
    
}
.zero{
   padding-top: 35%;
   color:white
    
}