.App {
  min-height: 100vh;
  text-align: center;
  background-image: url('./Assets/559737.jpg');
  background-position: center center;
  background-attachment: fixed;
  position:sticky;
}


.App-header {

  position: sticky;
  
}

.App main{
  overflow: hidden;
}
